Package: com.nghiabeta.cydiaslayer
Name: CydiaSlayer
Architecture: iphoneos-arm
Description: An awesome application!
Maintainer: NTNghia
Author: NTNghia
Section: Utilities
Version: 0.0.1-1+debug
Installed-Size: 644
